/* make the customizations */
$theme-colors: (
  "primary": #ed254e,
  "secondary": #f9dc5c,
  "success": #0a860a,
  "danger": #6f2232,
  "warning": #b69b00,
  "info": #465362,
  "light": #f4fffd,
  "dark": #011936,
);

@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");

$font-family-sans-serif: "Exo 2", sans-serif;

$enable-responsive-font-sizes: true;

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
